
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>  hello files</h1>
    <form action="/hello" method="POST">
    <label>Full Name : </label> <input type="text" value="" name="fullname" id="fullname" />
    <label>email : </label> <input type="text" value="" name="email" id="email" />
    <label>password : </label> <input type="password" name="password" id="password" />
    <input type="submit" value="submit" />
    </form>
  </body>
</html>
